/* CSS */

html {
	box-sizing: border-box;
    background-color: black;
}

fieldset {
    margin: 13px 8px 15px 8px;
    border-color: black;
}

li {
    margin: 20px auto 20px 0;
}

ul {
    list-style-type: none;
}

header {
	text-align: center;
}

#page {
    margin: auto;
    width: 800px;
    background-color: #d3d8d3;
    border-radius: 10px;
    padding: 5px;
}

#content {
    position: relative;
    width: 770px;
    margin: auto;
    align-items: center;
    padding: 10px;
}

button {
    margin: 10px 0 10px 8px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    background-image: linear-gradient(blue, #1e3682);
}

button:focus {
    background-image: linear-gradient(firebrick, #1e3682);
}

input {
    text-align: left;
    border: 0;
    color: black;
    background: transparent;
}


textarea {
    display: block;
    width: auto;
    margin: auto;
    background-color: antiquewhite;
}

.speakerinfo {
    width: 50%;
    position: relative;
    margin-top: 10px;
}

.oneques {
}

.oneques label {
    width: auto;
}

.oneques input {
    width: auto;
    float: left;
}

#formstart {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 200%;
    font-weight: bold;
}

.outline3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: bold;
}

.outline4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120%;
    font-weight: bold;
}

.subfield {
    border-width: thin;
}

.ta-label {
    text-align: center;
    width: auto;
    margin: auto;
}

li span {

}

.reqsp {
    color: #8c000f;
    margin: auto;
    padding-left: 12px;
    visibility: hidden;
}