/* CSS */

html {
	box-sizing: border-box;
    background-color: black;
}

fieldset {
    margin: 10px 8px 5px 8px;
    border-color: black;
}

/*
li {
    margin: 25px auto 5px 0;
}

 */

ul {
    list-style-type: none;
}

header {
	text-align: center;
}

#page {
    margin: auto;
    width: 800px;
    height: 100%;
    background-color: #d3d8d3;
    border-radius: 10px;
    padding: 5px;
}

#content {
    position: relative;
    width: 770px;
    margin: auto;
    align-items: center;
}

button {
    margin: 10px auto 15px 20px;
    border-radius: 10px;
    width: 150px;
    height: 50px;
    color: white;
    border: none;
    background-image: linear-gradient(blue, #1e3682);
}

button:focus {
    background-image: linear-gradient(firebrick, #1e3682);
}

input {
    text-align: left;
    border: 0;
    color: black;
    background: transparent;
}

label {
    width: 175px;
    margin-top: -25px;
    padding-top: 0;
    padding-bottom: 0;
    display: block;
    position: relative;
}

textarea {
    display: block;
    width: auto;
    margin: auto;
    background-color: antiquewhite;
}

.form-item {
    height: 50px;
    width: 100%;
    margin: 25px auto 5px 0;
}

.speakerinfo {

}

.oneques {
}

.oneques label {
    display: inline-block;
    width: fit-content;
}

.oneques input {
    display: inline-block;
}

#formstart {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 200%;
    font-weight: bold;
}

.outline3 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 150%;
    font-weight: bold;
}

.outline4 {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 120%;
    font-weight: bold;
}

.subfield {
    border-width: thin;
}

.ta-label {
    text-align: center;
    width: auto;
    height: 80px;
    margin: auto;
}

li span {

}

.reqsp {
    display: inline-block;
    color: #8c000f;
    margin: auto;
    padding-left: 12px;
    visibility: hidden;
}