
// Font Sizes
$labsize: 14px;
$inpsize: 12px;
// Colors
$deepgreen: #0d8011;
$lightpaper: #d3d8d3;
$palegray: #9b9b9b;
$plainwhite: #ffff;

#page{
  background-color: $lightpaper;
}

input[type="text"] {
  border-bottom: 2px solid $palegray;
  font-size: 1.1rem;
  transition: border-color 0.3s;
  outline: 0;
  width: 50%;
}

input[type="text"]:focus {
  border-bottom: 2px solid $deepgreen;
  font-weight: 500;
  ~label {
    display: block;
    position: absolute;
    margin-top: 0;
    transition: 0.8s;
    color: #28971c;
  }
}

label.stay {
  display: block;
  position: absolute;
  margin-top: 0;
  color: black;
}
